<form
  action="#"
  name="searchBook"
  class="f-searchBook"
  [formGroup]="searchBookForm"
  (submit)="searchBookSubmit($event)"
>
  <input
    type="text"
    name="title"
    formControlName="title"
    matInput
    placeholder="Title"
  >
  <mat-form-field appearance="fill">
    <mat-label>Select a genre</mat-label>
    <mat-select
      type="text"
      name="genre"
      formControlName="genre"
    >
      <mat-option *ngFor="let genre of bookGenres" [value]="genre">
        {{genre}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button
    mat-raised-button
    color="warn"
    type="submit"
    class="f-addBook__btn"
  >
    Save
  </button>
</form>
