<form
  action="#"
  name="searchBook"
  class="f-searchBook"
  [formGroup]="searchBookForm"
  (submit)="searchBookSubmit($event)"
>
  <input
    type="text"
    name="title"
    class="f-searchBook__title"
    formControlName="title"
    matInput
    placeholder="Search by title"
  >
  <mat-form-field
    appearance="fill"
    class="f-searchBook__genre"
  >
    <mat-label>Select a genre</mat-label>
    <mat-select
      type="text"
      name="genre"
      formControlName="genre"
      [(value)]="selectedGenre"
    >
      <mat-option [value]="genre.value" *ngFor="let genre of bookGenres">
        {{genre.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    class="f-searchBook__btn"
  >
    <mat-icon>search</mat-icon>
    <span>Search</span>
  </button>
</form>
