.b-signin {
  max-width: 450px;
  margin: 0 auto;
}

.f-signin {
  width: 100%;
  padding: 30px;
  border: 1px solid #9e9e9e;
  border-radius: 5px;

  &__title {
    text-align: center;
  }

  &__row {
    display: block;

    &:last-of-type {
      margin-bottom: 30px;
    }
  }

  &__btn {
    margin-bottom: 20px;
  }

  &__link {
    text-align: end;

    & a {
      color: #3f51b5;
    }
  }
}
