.b-home {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    font-size: 50px;
    margin-bottom: 30px;
    text-align: center;
    line-height: 1.5;
  }

  &__text {
    max-width: 400px;
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
  }
}
