<section class="s-home">
  <div class="container">
    <div class="b-home">
      <h1 class="b-home__title">Welcome to EBook Library</h1>
      <span class="b-home__text">The EBook Library project makes it possible for users to search info about books such as genre,
        description, date of publishing etc.</span>
        <a
          mat-raised-button
          routerLink="books"
          color="primary"
          class="b-home__link"
        >
          Go to catalog
        </a>
    </div>
  </div>
</section>
