<section class="s-addBook">
  <form
    action="#"
    name="editText"
    class="f-addBook"
  >
    <mat-form-field class="f-addBook__title">
      <mat-label>Title</mat-label>
      <input
        type="text"
        name="title"
        formControlName="title"
        matInput
        placeholder="Title"
      >
    </mat-form-field>
    <mat-form-field class="f-addBook__title">
      <mat-label>Author</mat-label>
      <input
        type="text"
        name="author"
        formControlName="author"
        matInput
        placeholder="Author"
      >
    </mat-form-field>
    <mat-form-field class="f-addBook__title">
      <mat-label>Genre</mat-label>
      <input
        type="text"
        name="genre"
        formControlName="genre"
        matInput
        placeholder="Genre"
      >
    </mat-form-field>
    <mat-form-field class="f-addBook__title">
      <mat-label>Description</mat-label>
      <textarea
        type="text"
        name="description"
        formControlName="description"
        matInput
        placeholder="Description"
      >
      </textarea>
    </mat-form-field>
    <mat-form-field class="f-addBook__title">
      <mat-label>Publication Date</mat-label>
      <input
        type="date"
        name="published"
        formControlName="published"
        matInput
        placeholder="Publication Date"
      >
    </mat-form-field>
    <mat-form-field class="f-addBook__title">
      <mat-label>Link</mat-label>
      <input
        type="text"
        name="link"
        formControlName="link"
        matInput
        placeholder="Link"
      >
    </mat-form-field>
    <mat-form-field class="f-addBook__title">
      <mat-label>Image</mat-label>
      <input
        type="text"
        name="image"
        formControlName="image"
        matInput
        placeholder="Image"
      >
    </mat-form-field>
    <button
      mat-raised-button
      color="warn"
      type="submit"
      class="f-addBook__btn"
    >
      Save
    </button>
  </form>
</section>
