.f-addBook::ng-deep {
  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: transparent;
    padding-left: 0;
  }
}

.s-addBook {
  padding: 30px 0;
}

.f-addBook {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #9e9e9e;
  border-radius: 5px;

  & h2 {
    text-align: center;
    font-size: 20px;
  }

  &__field {
    display: block;
  }

  &__btn {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
  }
}
