<section class="s-addBook">
  <form
    action="#"
    name="editText"
    class="f-addBook"
    [formGroup]= "addBookForm"
    (submit)= "addBookSubmit($event)"
  >
    <h2>Add book</h2>
    <mat-form-field class="f-addBook__field">
      <mat-label>Title</mat-label>
      <input
        type="text"
        name="title"
        formControlName="title"
        matInput
        placeholder="Title"
      >
      <mat-error *ngIf="addBookForm.controls.title.hasError('required')">
        Title is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="f-addBook__field">
      <mat-label>Author</mat-label>
      <input
        type="text"
        name="author"
        formControlName="author"
        matInput
        placeholder="Author"
      >
      <mat-error *ngIf="addBookForm.controls.author.hasError('required')">
        Author is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="f-addBook__field">
      <mat-label>Genre</mat-label>
      <mat-select

        formControlName="genre"
      >
        <mat-option *ngFor="let genre of bookGenres" [value]="genre"         name="genre">
          {{genre}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="addBookForm.controls.genre.hasError('required')">Please choose genre</mat-error>
    </mat-form-field>
    <mat-form-field class="f-addBook__field">
      <mat-label>Description</mat-label>
      <textarea
        type="text"
        name="description"
        formControlName="description"
        matInput
        placeholder="Description"
      >
      </textarea>
      <mat-error *ngIf="addBookForm.controls.description.hasError('required')">
        Description is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="f-addBook__field">
      <mat-label>Publication Date</mat-label>
      <input
        type="date"
        name="published"
        formControlName="published"
        matInput
        placeholder="Publication Date"
      >
    </mat-form-field>
    <mat-error *ngIf="addBookForm.controls.published.hasError('required')">
      Publication Date is <strong>required</strong>
    </mat-error>
    <mat-form-field class="f-addBook__field">
      <mat-label>Link</mat-label>
      <input
        type="text"
        name="link"
        formControlName="link"
        matInput
        placeholder="Link"
      >
      <mat-error *ngIf="addBookForm.controls.link.hasError('required')">
        Link is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="f-addBook__field">
      <mat-label>URL Image</mat-label>
      <input
        type="text"
        name="img"
        formControlName="img"
        matInput
        placeholder="Enter URL Image"
      >
      <mat-error *ngIf="addBookForm.controls.img.hasError('required')">
        Image is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="warn"
      type="submit"
      class="f-addBook__btn"
    >
      Save
    </button>
  </form>
</section>
