<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <div class="b-book__header">
        <div class="b-book__logo">
          <img src={{book.img}} alt="barak">
        </div>
        <div class="b-book__content">
          <mat-panel-title class="b-book__content-title">
            {{book.title}}
          </mat-panel-title>
          <mat-panel-description class="b-book__content-description">
            {{book.author}}
          </mat-panel-description>
          <mat-panel-description class="b-book__content-genre">
            Genre: {{book.genre}}
          </mat-panel-description>
        </div>
      </div>
    </mat-expansion-panel-header>
    <div class="b-book__wrapper">
      <div class="b-book__info" *ngIf= "editText">
        <p class="b-book__info-title">
          Title: <span>{{book.title}}</span>
        </p>
        <p class="b-book__info-author">
          Author: <span>{{book.author}}</span>
        </p>
        <p class="b-book__info-genre">
          Genre: <span>{{book.genre}}</span>
        </p>
        <p class="b-book__info-descrip">
          Description: <span>{{book.description}}</span>
        </p>
        <p class="b-book__info-publush">Publication Date: <span>{{book.published}}</span></p>
        <a
          mat-raised-button color="warn" href={{book.link}}
          target="_blank"
          class="b-book__info-link"
        >
        BUY IT NOW
        </a>
      </div>
      <form
        *ngIf= "!editText"
        action="#"
        name="editText"
        class="f-book"
        [formGroup] = "bookEditForm"
        (submit)="updateBook(book._id)"
      >
        <mat-form-field class="f-book__title">
          <mat-label>Title</mat-label>
          <input
            type="text"
            name="title"
            formControlName="title"
            matInput
            placeholder="Title"
          >
        </mat-form-field>
        <mat-form-field class="f-book__title">
          <mat-label>Author</mat-label>
          <input
            type="text"
            name="author"
            formControlName="author"
            matInput
            placeholder="Author"
          >
        </mat-form-field>
        <mat-form-field class="f-book__title">
          <mat-label>Genre</mat-label>
          <input
            type="text"
            name="genre"
            formControlName="genre"
            matInput
            placeholder="Genre"
          >
        </mat-form-field>
        <mat-form-field class="f-book__title">
          <mat-label>Description</mat-label>
          <textarea
            type="text"
            name="description"
            formControlName="description"
            matInput
            placeholder="Description"
          >
          </textarea>
        </mat-form-field>
        <mat-form-field class="f-book__title">
          <mat-label>Publication Date</mat-label>
          <input
            type="date"
            name="published"
            formControlName="published"
            matInput
            placeholder="Publication Date"
          >
        </mat-form-field>
        <mat-form-field class="f-book__title">
          <mat-label>Link</mat-label>
          <input
            type="text"
            name="link"
            formControlName="link"
            matInput
            placeholder="Link"
          >
        </mat-form-field>
        <button
          mat-raised-button
          color="warn"
          type="submit"
          class="f-book__btn"
        >
          Save
        </button>
      </form>
    </div>
    <div class="b-book__btn">
      <button
      mat-icon-button
      color="warn"
      disabled
      aria-label="Example icon button with a heart icon"
      title="Add to favorites"
      class="b-book__btn-link"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
      mat-icon-button
      class="b-book__btn-link"
      type="button"
      title="Edit"
      (click)="onEditBook()"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
      mat-icon-button
      class="b-book__btn-link"
      type="button"
      title="Delete"
      (click)="onDeleteBook(book._id)"
      >
        <mat-icon class="example-icon" color="warn">delete</mat-icon>
      </button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="editText = true"
                       (closed)="editText = false">
  </mat-expansion-panel>
</mat-accordion>
