<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <div class="b-book__header">
        <div class="b-book__logo">
          <img src="../../../../../assets/imgonline-com-ua-Resize-CJBBmaGFO4x.jpg" alt="barak">
        </div>
        <div class="b-book__content">
          <mat-panel-title class="b-book__content-title">
            A Promised Land
          </mat-panel-title>
          <mat-panel-description class="b-book__content-description">
            Barack Obama
          </mat-panel-description>
          <mat-panel-description class="b-book__content-genre">
            Genre: Biography
          </mat-panel-description>
        </div>
      </div>
    </mat-expansion-panel-header>
    <p class="b-book__info-title" *ngIf= "!editText">
      Title: <span>A Promised Land</span>
    </p>
    <p class="b-book__info-author" *ngIf= "!editText">
      Author: <span>Barack Obama</span>
    </p>
    <p class="b-book__info-genre" *ngIf= "!editText">
      Genre: <span>Biography</span>
    </p>
    <p class="b-book__info-descrip">
      Description: <span>A riveting, deeply personal account of history in the making-from the president who inspired us to believe in the power of democracy.</span>
    </p>
    <p class="b-book__info-publush">Publication Date: <span>17/11/2020</span></p>
    <div class="b-book__link">
      <a
        mat-raised-button color="warn" href="https://goo.su/3Sew"
        target="_blank"
        class="b-book__link-buy"
      >
        BUY IT NOW
      </a>
      <div class="b-book__link-btn">
        <button
        mat-stroked-button
        class="b-book__btn-edit"
        type="button"
        (click)="onEditBook($event)"
        >
        {{editText ? 'edit' : 'save'}}
        </button>
        <button
          mat-icon-button color="warn"
          disabled
          aria-label="Example icon button with a heart icon"
          class="b-book__btn-favor"
        >
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="editText = true"
                       (closed)="editText = false">
  </mat-expansion-panel>
</mat-accordion>
