<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <div class="b-book__header">
        <div class="b-book__logo">
          <img src={{book.img}} alt="barak">
        </div>
        <div class="b-book__content">
          <mat-panel-title class="b-book__content-title">
            {{book.title}}
          </mat-panel-title>
          <mat-panel-description class="b-book__content-description">
            {{book.author}}
          </mat-panel-description>
          <mat-panel-description class="b-book__content-genre">
            Genre: {{book.genre}}
          </mat-panel-description>
        </div>
      </div>
    </mat-expansion-panel-header>
    <p class="b-book__info-title" *ngIf= "!editText">
      Title: <span>{{book.title}}</span>
    </p>
    <p class="b-book__info-author" *ngIf= "!editText">
      Author: <span>{{book.author}}</span>
    </p>
    <p class="b-book__info-genre" *ngIf= "!editText">
      Genre: <span>{{book.genre}}</span>
    </p>
    <p class="b-book__info-descrip">
      Description: <span>{{book.description}}</span>
    </p>
    <p class="b-book__info-publush">Publication Date: <span>{{book.published}}</span></p>
    <div class="b-book__link">
      <a
        mat-raised-button color="warn" href={{book.link}}
        target="_blank"
        class="b-book__link-buy"
      >
        BUY IT NOW
      </a>
      <div class="b-book__link-btn">
        <button
        mat-stroked-button
        class="b-book__btn-edit"
        type="button"
        (click)="onEditBook($event)"
        >
        {{editText ? 'edit' : 'save'}}
        </button>
        <button
          mat-icon-button color="warn"
          disabled
          aria-label="Example icon button with a heart icon"
          class="b-book__btn-favor"
        >
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="editText = true"
                       (closed)="editText = false">
  </mat-expansion-panel>
</mat-accordion>
