.mat-expansion-panel-header {
  height: fit-content;
  padding-top: 15px;
  padding-bottom: 15px;
}

::ng-deep {
  .mat-content {
    justify-content: space-between;
  }
  .mat-expansion-panel-header-title {
    margin-bottom: 5px;
  }

  .mat-expansion-panel-body {
    display: flex;
    justify-content: space-between;
  }
}

.mat-icon-button {
  align-self: center;
}

.b-book {
  &__header {
    display: flex;
  }
  &__logo {
    width: 100px;
  }

  &__wrapper {
    flex-basis: 100%;
  }

  &__content {
    margin-left: 20px;

    & h4 {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-btn {
      display: flex;
    }
  }
}

.b-book__btn {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;

  // &-link:first-of-type {
  //   margin-bottom: 30px;
  // }
}

.f-book {
  max-width: 600px;

  &__title {
    display: block;
    height: fit-content;
  }

  &__row {
    display: block;

    &:last-of-type {
      margin-bottom: 30px;
    }
  }

  &__btn {
    margin-bottom: 20px;
  }

  &__link {
    text-align: end;

    & a {
      color: #3f51b5;
    }
  }
}

.test {
  display: flex;
}
